@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(37, 37, 37);
}

h1 {
    color: white;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-around;
}

.opcoes-iniciais label {
    color: white;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
}

<<<<<<< HEAD
#quadro-geral {
    padding: 35px;
    display: grid;
    grid-template-columns: 35% 35% 35%;
}

.sub-quadro {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
=======
.btn-relatorio {
    background: #f7cb3a;
    color: rgb(255, 255, 255);
    border-radius: 10px ;
    padding: 10px;
    font-size: large;
>>>>>>> b033fcac816440ff9097214c59908f79b4585564
}