@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(37, 37, 37);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    background-color: rgb(83, 83, 83);
    padding-bottom: 20px;
}

h1 {
    color: white;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(83, 83, 83);
    grid-column: 3 / 6;
}

.opcoes-iniciais {
    grid-row: 2;
    grid-column: 2 / 7;
}

#colum1 {
    grid-column: 2 / 3;
}

#colum2 {
    grid-column: 4 / 5;
}

#colum3 {
    grid-column: 6 / 7;
    place-items: center;
}

.opcoes-iniciais label {
    color: white;
    display: flex;
    flex-direction: column;
}

#quadro-geral {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

.sub-quadro {
    padding: 15px;
    width: 35%;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.sub-quadro h2 {
    padding: 20px 0;
    border-radius: 10px;
    background-color: rgb(83, 83, 83);
}

#btn-relatorio{
    background-color: rgb(255, 187, 0);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: large;
    align-items: center;
}

#sub-quadro {
    display: flex;
    flex-direction: column;
}

#a-fazer, #fazendo, #feito {
    background-color: rgb(255, 153, 0);
    border-radius: 10px;
    padding: 0 25px;
    margin: 20px 0;
}

#btn-add {
    background-color: rgb(14, 218, 14);
    padding: 30px;
    border-radius: 10px 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 35px;
}

#btn-add:hover {
    cursor: pointer;
}

#btn-add:active {
    background-color: rgba(14, 218, 14, 0.808);
}

#btn-relatorio {
    background-color: rgb(255, 153, 0);
}